/*  your css code here. If applicable */


main::before {
	content: "Before Element ";
	font-weight: bolder;
	color:red;

}
main::after {
	color: red;
	content: " After Element";
	font-weight: bolder;
}
