/*  your css code here. If applicable */


main::before {
	content: "Before Element ";
	font-weight: bolder;
	color: rgb(255,0,0);

}
main::after {
	color: rgb(255,0,0);
	content: " After Element";
	font-weight: bolder;
}
